main{
    max-width: 1140px;
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    .title{
        font-size: 2rem;
        margin: 10px 0 1rem 0;
        border-bottom: 1px solid var(--gray-300);
    }

}